body, html
{
	/*background-image: linear-gradient(135deg, yellow, deeppink); */
	height: 100vh;
	width: 100vw;
	font-family: verdana;  
	background-color: #95002D;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: mediumvioletred;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  margin-left: -8px;
  z-index: 2;
}


h1
{
	text-align: center;
	padding: 25px;
	color: white;
}

h2
{
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 85px;
	margin-top: 75px;
	position: absolute;
}

#all_drinks 
{
	width: 100vw;
	height: 20%;
	z-index: 1;
	position: absolute;
}

.search 
{
	background-color: white;

}

#search_bar
{
	width: 100vw;
	height: 50px;
	text-align: center;
}

.page
{
	background-color: rgba(265, 265, 265, 1);
	width: 100vw;
	position: absolute;
	margin-left: -50vw;
	height: 100%;
	margin-top: 170px;
	left: 50%;
}

.content 
{
	width: 100vw;
	height: 200px;
	background-color: darkgrey;
}

.o-buttons
{
	height: 125px;
	width: 125px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	margin: 0;
	position: relative;
	top: 50%;
	left: 35px;
	transform: translate(0, -50%);	
}